/*********************************************
****************BASE SETTINGS*****************
**********************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.4;
    color:#333;
    font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;  
    display: inline-block;
}
img{
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
}
/************************************************
*************** GENERAL HELPER ******************
************************************************/

.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-inline{display: inline;}


.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}

.m-0 { margin: 0; }
.m-1 { margin: 10px; }
.m-2 { margin: 15px; }
.m-3 { margin: 20px; }
.m-4 { margin: 25px; }
.m-5 { margin: 30px; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 15px; }
.mt-3 { margin-top: 20px; }
.mt-4 { margin-top: 25px; }
.mt-5 { margin-top: 30px; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 15px; }
.mb-3 { margin-bottom: 20px; }
.mb-4 { margin-bottom: 25px; }
.mb-5 { margin-bottom: 30px; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 15px; }
.ml-3 { margin-left: 20px; }
.ml-4 { margin-left: 25px; }
.ml-5 { margin-left: 30px; }


.p-0 { padding: 0!important; }
.p-1 { padding: 10px!important; }
.p-2 { padding: 15px!important; }
.p-3 { padding: 20px!important; }
.p-4 { padding: 25px!important; }
.p-5 { padding: 30px!important; }

.pt-0 { padding-top: 0!important; }
.pt-1 { padding-top: 10px!important; }
.pt-2 { padding-top: 15px!important; }
.pt-3 { padding-top: 20px!important; }
.pt-4 { padding-top: 25px!important; }
.pt-5 { padding-top: 30px!important; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 10px; }
.pb-2 { padding-bottom: 15px; }
.pb-3 { padding-bottom: 20px; }
.pb-4 { padding-bottom: 25px; }
.pb-5 { padding-bottom: 30px; }

.form-label{ display:block;}

.form-control{
    display: block;
    width: 100%;
    padding:5px;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.container-fluid{
    width:90%;
    margin: 0 auto;
}
.row:after{
    content: '';
    clear: both;
    display: block;
}

.row .col {
    float: left;
    padding: 0 15px;
}

.col-12 { width: 100%; }
.col-11 { width: 91.66%; }
.col-10 { width: 83.33%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66%; }
.col-7 { width: 58.33%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66%; }
.col-4 { width: 33.33%; }
.col-3 { width: 25%; }
.col-2 { width: 16.66%; }
.col-1 { width: 8.33%; }

.clearfix{
    clear: both;
}

.pull-left{float: left;}
.pull-right{float: right;}


/************************************************
**************** BASE STYLES ********************
************************************************/

.bg-primary {
  background-color: #1097DC;
  color: #333;
}
.bg-secondary {
  background-color: #EBF7FE;
  color: #333;
}
.bg-dark {
  background-color: #333;
  color: #FFF;
}
.bg-light {
  background-color: #F4F4F4;
  color: #333;
}
.bg-danger {
  background-color: rgb(198, 51, 51);
  color: #FFF;
}
.page-section {
  padding: 80px 0;
}


.btn {
  padding: 7px 10px;
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #1097DC;
  color: #333;
}
.btn.btn-primary:hover {
  background-color: #333;
  color: #1097DC;
}
.btn.btn-secondary {
  background-color: #EBF7FE;
  color: #333;
}
.btn.btn-secondary:hover {
  color: #EBF7FE;
  background-color: #333;
}
.btn.btn-dark {
  background-color: #333;
  color: #FFF;
}
.btn.btn-dark:hover {
  color: #333;
  background-color: #FFF;
}
.btn.btn-light {
  background-color: #f4f4f4;
  color: #333;
}
.btn.btn-light:hover {
  color: #f4f4f4;
  background-color: #333;
}

.btn.btn-outline-primary {
  border: solid 1px #1097DC;
}
.btn.btn-outline-primary:hover {
  background-color: #1097DC;
  color: #333;
}

.btn.btn-rounded { border-radius: 8px; }


.pill {
  padding: 0.2rem 0.5rem;
  display: inline-block;
}

.pill.pill-rounded {
  border-radius: 5px;
}

.badge {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.badge-dark {
  background-color: #333;
  color: #FFF;
}

.card {
  background-color: #FFF;
  color: #333;
}
.card-content {
  padding: 1rem;
}

.card-image {
  position: relative;
  
}
.card-image:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/*****************************************
THE BAND STARTS
***************************************/


.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: 'Oswald',sans-serif;
}

.section-subtitle {
  font-style: italic;
  color: #999;
}

.tour-list {
  background-color: #FFF;
  color: #333;
}
.tour-list li{
    padding:0.7rem 1rem;
    border-bottom: solid 1px #ccc;
}
.tour-list li:last-child{
    border-bottom: none;
}
/* ------------------------------------ */
.navbar{
    position: fixed;
    top: 0;
    padding: 20px 30px;
    background-color: black;
    width: 100%;
    height: 40px;
}
#search{
    float:right;
    padding: 0 50px;
    color: white;
    font-size: 15px;
    font-family: 'Roboto',sans-serif
}
#home,#more,#band,#tour,#contact{
    padding: 0 20px;
    color: white;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}
#home:hover ,#search:hover,#more:hover ,#band:hover ,#tour:hover,#contact:hover, #submit:hover{
    background-color: rgb(241, 237, 237);
    color: black;
}
